<header>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-body py-3">
            <div class="container">
                <div class="d-flex align-items-center">
                    <img src="/img/logo_holiday.png" width="60" height="60" />
                </div>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navcol-3" class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto shadow-md-up bg-white-md rounded-3 py-md-2 px-md-3">
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-slate-900 link transition <%= title === 'Holiday Homes' ? 'active' : '' %>" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-slate-900 link transition <%= title === 'Projects' ? 'active' : '' %>" href="/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-slate-900 link transition <%= title === 'Events' ? 'active' : '' %>" href="/events">Events</a>
                        </li>
                        <% if(locals.user) { %>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-slate-900 link transition <%= title === user.name ? 'active' : '' %>" href="/me">Me</a>
                        </li>
                        <%} %>
                    </ul>
                <% if(locals.user) { %>
                    <form id="logout-form">
                        <button class="btn bg-green-600 text-slate-50" id="logout-button">Log out</button>
                    </form>
                <% } else { %>
                    <a class="btn border text-button-green border-green-600 text-green-600" href="/login">Log in</a>
                <% } %>
                </div>
            </div>
        </nav>
    </div>
</header>