<header>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-body py-3">
                <div class="d-flex align-items-center">
                    <img id="holidayLogoImg" src="/img/logo_holiday.webp" width="60" height="60" alt="holiday homes logo" />
                </div>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navcol-3" class="collapse navbar-collapse">
                    <ul class="navbar-nav mx-auto shadow-md-up bg-white-md rounded-4 py-md-3 px-md-4 d-flex gap-0 gap-md-3">
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-slate-900 link transition <%= title === 'Holiday Homes' ? 'active' : '' %>" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-slate-900 link transition <%= title === 'Projects' ? 'active' : '' %>" href="/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-slate-900 link transition <%= title === 'Events' ? 'active' : '' %>" href="/events">Events</a>
                        </li>
                        <% if(locals.user) { %>
                            <li class="nav-item">
                                <a id="meLink" class="nav-link fw-semibold text-slate-900 link transition <%= title === user.name ? 'active' : '' %>" href="/me">Me</a>
                            </li>
                            <% if(locals.user?.role !== 'user') { %>
                            <li class="nav-item d-flex align-items-center">
                                 <div class="dropdown mb-2 mb-md-0">
                                   <button class="btn bg-green-600 text-slate-100 fw-semibold dropdown-toggle px-2 px-lg-4 py-1 py-lg-2" type="button" id="adminActionBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                       Admin Action
                                     </button>
                                     <ul class="dropdown-menu" aria-labelledby="adminActionBtn">
                                        <li>
                                           <h6 class="dropdown-header fw-semibold text-slate-400">User Action</h6>
                                         </li>
                                         <li>
                                           <a class="dropdown-item text-slate-600" href="/admin/signup">Create User</a>
                                         </li>
                                         <li>
                                           <a class="dropdown-item text-slate-600" href="/admin/update/resident">Update User</a>
                                         </li>
                                         <li>
                                           <hr class="dropdown-divider text-slate-600">
                                         </li>
                                         <li>
                                             <a class="dropdown-item text-slate-600" href="/admin/dashboard">Dashboard</a>
                                         </li>
                                         <li>
                                           <a class="dropdown-item text-slate-600" href="/admin/address">Address</a>
                                         </li>
                                         <li>
                                           <a class="dropdown-item text-slate-600" href="/admin/manual-payment">Manual Payment</a>
                                         </li>
                                        <li>
                                           <a class="dropdown-item text-slate-600" href="/admin/event-bookings">Accept Event Bookings</a>
                                         </li>
                                        <li>
                                           <a class="dropdown-item text-slate-600" href="/admin/garbage-collection">Manage Garbage Collection</a>
                                         </li>
                                     </ul>
                                 </div>
                            </li>
                            <% } %>
                        <% } %>
                    </ul>
                <% if(locals.user) { %>
                    <form id="logout-form">
                        <button class="btn bg-green-600 text-slate-50 px-2 px-lg-4 py-1 py-lg-2" id="logout-button">Log out</button>
                    </form>
                <% } else { %>
                    <a class="btn border text-button-green border-green-600 text-green-600 px-2 px-lg-4 py-1 py-lg-2" href="/login">Log in</a>
                <% } %>
                </div>
        </nav>
    </div>
</header>