<div class="container h-100">
  <div class="text-white bg-danger border rounded border-0 p-4 py-5">
    <div class="row h-100">
      <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
        <div>
          <h1 class="text-uppercase fw-bold text-white mb-3"><%= locals.msg %></h1>
          <a class="btn btn-light fs-5 py-2 px-4" href="/">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>