<div>
    <div class="container" style="margin-top: 1rem;">
        <div class="row d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row">
            <div class="col" style="border-style: solid;padding: 10px;margin: 10px;height: auto;min-height: 180px;width: auto;border-radius: 24px;">
                <h1>Pay Dues</h1>
                <form id="payment-form">
                    <div style="margin-bottom: 25px;"><label class="form-label">From</label><input id="from-date" class="form-control" type="date" /></div>
                    <div style="margin-bottom: 25px;"><label class="form-label">To</label><input id="to-date" class="form-control" type="date" /></div><button class="btn btn-primary" type="submit">Pay with Stripe</button>
                </form>
            </div>
            <div class="col" style="border-style: solid;height: auto;min-height: 180px;padding: 10px;margin: 10px;width: auto;border-radius: 24px;">
                <h1>Paid Dues</h1>
                <div class="table-responsive" style="overflow-y: auto; max-height: 200px;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Month Range</th>
                            <th>Amount</th>
                            <th>Date Paid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% payment.forEach(due => { %>
                        <tr>
                            <td><%= due.dateRange %></td>
                            <td>₱<%= due.amount %></td>
                            <td><%= new Intl.DateTimeFormat("en-us", {
                                    year: "numeric",
                                    month: "long",
                                    day: "2-digit",
                                    timeZone: 'Asia/Manila'
                                }).format(due.paymentDate) %></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Book an Event Place</h1>
        <form class="d-flex flex-column justify-content-between flex-sm-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row gap-5">
            <div style="width: 100%;">
                <input class="form-control mb-3" type="date" />
                <!--    PRE-SELECTED FOR NOW    -->
                <!--    TODO:
                        1. Add a function to add more event places
                        2. Add a function to check if the event place is available
                        3. Add a function to store the places in the database, so other places that will be built in the future will be added to the list
                -->
                <label class="form-label mb-0">Select Event Place</label>
                <select class="form-select mb-3 mt-0">
                    <option value="p3clubhouse">Phase 3 Clubhouse</option>
                    <option value="ph2clubhouse">Phase 2 Clubhouse</option>
                    <option value="ph3court">Phase 3 Court</option>
                    <option value="ph4court">Phase 4 Court</option>
                </select>
                <button class="btn btn-primary" type="button">Book Event Place</button>
            </div>
            <div style="width: 100%;">
                <h2>Event you booked</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Event Date</th>
                        <th>Place</th>
                        <th>Approved</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>March 08, 2025</td>
                            <td>Phase 3 Court</td>
                            <td>Pending</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>